@font-face {
    font-family: 'nfBook';
    src: url('fonts/NF_Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nfBold';
    src: url('fonts/NF_Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'nfItalic';
    src: url('fonts/NF_Italic.woff') format('woff');
    font-weight: italic;
    font-style: normal;
}

body {
    background-color: #292C31;
    align-items: center;
    font-family: 'Playfair Display SC', sans-serif;
    line-height: 1.95;
}

.nav {
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 1;
    color: white;
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    box-shadow: 4px 0px 12px 1px rgb(23, 23, 25, 0.5);
}

header {
    width: 100%;
    text-align: center;
    background-color: #292C31;
    color: white;
}

hr {
    background-color: #E54B4B;
    height: 1px;
    border: none;
    width: clamp(34rem, 54vw, 65rem);
    margin: 0px 0px;
    text-align: left;
}

.nav-items {
    padding: 0px 40px;     
    text-align: center;
    background-color: #3D4148;
}

.nav-items:hover {
    background-color: #E54B4B;
    color: black;
}


.first {
    padding: 0px 40px;
    flex-grow: 3;
    text-align: left;
}

.centerplate {
    background:linear-gradient(45deg,#1D2023 56%,#4281A4 40%);
    position: relative;
    display: flex;
    justify-content: space-evenly;
    font-family: 'nfBook';
}

.sub-title {   
    font-size: 2rem;
    font-family: 'Playfair Display';
}

.lead {
    margin: 0px 40px;
    color: white;
}

.blast {
    position: relative;
    z-index: 1;
    text-align: left;
    font-size: clamp(5rem, 8vw, 10rem);
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
    color: white;
    line-height: clamp(7rem, 11vw, 12rem);
}

.profile {
    pointer-events: none;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    width: clamp(22rem, 29vw, 27rem);
}

.info {
    padding-top: 20px;
    padding-bottom: 30px;
    width: 50%;
}

.bottom {
    display: flex;
    position: relative;
    z-index: 2;
    box-shadow: 4px -8px 12px 0px rgb(23, 23, 25, 0.2);
}

/* .thing {
    position: absolute;
    left: 0px;
    top: 0px;
	width: 50vw;
    height: 50px;
    z-index: 0;
	transform: skew(45deg);
	background: #E54B4B;
} */

/* .parallelogram {
    position: absolute;
    right: 30vw;
	width: 15px;
    height: inherit;
	transform: skew(45deg);
	background: #E54B4B;
} */

/* @media screen and (max-width: 1050px) {
    .profile {
        width: 29rem;
    }
} */