body {
    background-color: #242424;
    font-family: 'Jost', sans-serif;
    font-weight: 200;
    font-size: 1.2rem;
}

/* font-family: 'Poiret One', cursive;
font-family: 'Jost', sans-serif;
font-family: 'Monoton', cursive; */

.break {
    background-color: white;
    height: 2rem;
}

.header {
    background: white;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    color: black;
    /* line-height: 8.9rem; */
}

.title {
    padding: 2rem 0px 2rem 5rem;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    font-size: 2.2rem;
}

.icon-wrap{
    display: flex;
    align-self: center;
    height: 27px;
    margin: 0px 20px;
}

.icon {
    align-self: center;
    width: 9px;
    height: 27px;
}

.red {
    background-color: #E54B4B;
}
.yellow {
    background-color: #FFFF63;
}
.blue {
    background-color: #2144C5;
}
.dark-blue {
    background-color: #102A6D;
}

.sub-title-1 {
    font-family: 'Poiret One', sans-serif;
}

.sub-title-2 {
    font-family: 'Monoton', cursive;
    font-weight: normal;
}

.sub-title-3 {
    color: white;
}
.hover-red:hover {
    background-color: #E54B4B;
    color: white;
}

.hover-yellow:hover {
    background-color: #FFFF63;
}

.hover-blue:hover {
    background-color: #2144C5;
    color: white;
}

.brand{
    display: flex;
    flex-grow: 8;
}

.button {
    align-self: center;
    padding: 1.5rem 2rem;
    margin: 7px;
    font-size: 1.5rem;
}

.header-2 {
    font-family: 'Poiret One', sans-serif;
}
.header-3 {
    font-family: 'Monoton', sans-serif;
    font-weight: 400;
}
.header-4 {
    color: white;
}

.container {
    display: flex;
}

.profile {
    margin: 3rem 3rem 3rem 5rem;
    height: 200px;
}

.text-box {
    align-self: center;
    padding: 2rem 2rem 2rem 0rem;
    line-height: 1.8rem;
    /* width: 60vw; */
}

.text-box p {
    padding: 0rem 0px 1rem 0px;
    color: white;
}